:root {
  /* Fonts */
  --main-fonts: "Roboto", sans-serif;
  --secondary-fonts: "Raleway", sans-serif;
  /* Color text */
  --main-text-color: #212121;
  --acsent-text-color: #2196f3;
  --blak-text-color: #000000;
  --white-text-color: #ffffff;
  --secondary-text-color: #757575;
  --footer-rgba-coor: rgba(255, 255, 255, 0.6);

  /* Color bgc */
  --main-bgc-color: #ffffff;
  --foot-bgc-color: #2f303a;

  /* Outher var */
  --card-gap: 30px;

  /* BTN */
  --acsent-btn-color: #212121;
  --main-btn-color: #ffffff;
  --acsent-btn-bgc: #f5f4fa;
  --main-btn-bgc: #2196f3;
  --main-border-color: #EEEEEE;
}

.body {
  margin: 0;
  background-color: var(--main-bgc-color);
  font-family: var(--main-fonts);
  font-size: 14px;
  color: var(--main-text-color);
}
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0 auto;
  padding-inline-start: 0;
}
.title-invisible {
  visibility: hidden;
  margin: 0;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* header */
.header {
  align-items: center;

  border-bottom: 1px solid #ececec;
}
.header-div {
  display: flex;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* nav */
.header-nav {
  display: flex;
}
.header-logo {
  margin-right: 93px;
}

/* logo */
.header-logo {
  font-family: var(--secondary-fonts);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--acsent-text-color);
}

.header-text {
  font-family: var(--secondary-fonts);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--blak-text-color);
}
.header-text:hover,
.header-text:focus {
  color: var(--acsent-text-color);
}

/* header list */
.header-list {
  display: flex;
  text-align: left;
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  align-items: center;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-item {
  margin-right: 50px;
}
.header-item:last-child {
  margin-right: 0;
}

/* header items */
.header-items {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: auto;
  padding-inline-start: 0;
}
.header-contacts:not(:last-child) {
  margin-right: 50px;
}

/* header item */
.header-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--acsent-text-color);
}

/* header-contacts */
.contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--acsent-text-color);
}

/* HERO */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--foot-bgc-color);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 680px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.hero-button {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--acsent-text-color);
  background-color: var(--main-btn-bgc);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  color: var(--main-btn-color);
  cursor: pointer;
}
.hero-button:active,
.hero-button:hover,
.hero-button:focus {
  background-color: var(--acsent-btn-bgc);
  color: var(--acsent-btn-color);
}
/* H2-section title */
.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* advantage */

.advantage-section-list {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}
.advantage-section-item {
  text-align: left;
}
.advantage-section-item:not(:last-child) {
  margin-right: 30px;
}
.advantage-subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.advantage-section-text {
  margin-top: 0;
  margin-bottom: 0;
  width: 270px;

  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* WORKING */
.working-section {
  padding-top: 0;
}

.working-section-list {
  display: flex;
}
.working-section-item:not(:last-child) {
  margin-right: 30px;
}

/* TEAM */
.team-section {
  background-color: var(--acsent-btn-bgc);
}

.team-section-list {
  display: flex;
}
.team-section-item:not(:last-child) {
  margin-right: 30px;
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-section-subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.team-section-text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* end page one*/

/* Page 2 */

/* FILTER BUTTON */
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  display: inline-block;
  min-width: 73px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  border: 0;
  border-radius: 4px;

  background-color: var(--acsent-btn-bgc);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--acsent-btn-color);

  cursor: pointer;
}
.filter-button:active,
.filter-button:focus,
.filter-button:hover {
  background-color: var(--main-btn-bgc);
  color: var(--main-btn-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}
/* .portfolio-list > li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-list > li:not(:nth-child(3n)) {
  margin-right: 30px;
} */

.portfolio-item {
  flex-basis: calc((100% - 2 * var(--card-gap)) / 3);
}

.card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-left: 1px solid var(--main-border-color);
  border-right: 1px solid var(--main-border-color);
  border-bottom: 1px solid var(--main-border-color);

  text-align: left;
}

.portfolio-subtitle {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio-text,
.text {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

/* FOOTER */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--foot-bgc-color);
}
.footer-div {
  text-align: left;
}
.footer-add {
  margin-top: 20px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-text {
  font-family: var(--secondary-fonts);
  font-weight: 400;
  font-size: 24px;
  line-height: 1.24;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}
.footer-text:hover,
.footer-text:focus {
  color: var(--acsent-text-color);
}

.contacts-footer-link {
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-rgba-coor);
}
.contacts-footer-link:hover,
.contacts-footer-link:focus {
  color: var(--acsent-text-color);
}
.footer-link {
  font-weight: 400;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--acsent-text-color);
}
